* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

label {
  font-weight: bold;
  font-size: 1.2rem;
}

input[type="number"] {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 10rem;
}

select {
  margin-left: 0.5rem;
  /* border: none; */
  margin-bottom: 10px;
}

.output {
  font-size: 1.5rem;
  margin: 20px 0;
}
