.recipe-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 250px; /* Set the width */
  height: 250px; /* Set the height */
  flex: 0 0 auto;
}

.recipe-item img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.recipe-item .recipe-title {
  margin-top: 10px;
  font-weight: bold;
}
