@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#form-container {
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
}

h2 {
  margin: 0px 0px 10px 0px;
}

input {
  width: 200px;
  margin: 10px 0px;
  padding: 10px;
}

input[type="submit"] {
  width: 200px;
  background-color: #3498db;
  border: none;
  color: #ffffff;
}

.error {
  color: red;
  margin: 0px;
  text-align: left;
  font-weight: 200;
  font-size: 10px;
}
