* {
  margin: 0;
  padding: 0;
  border: 1px dotted salmon;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.navbar {
  background-color: #333; /* Example background color */
  color: white; /* Example text color */
  padding: 10px;
}

.logo {
  max-width: 768px; /* Set max width for the content inside .navbar */
  margin: 0 auto; /* Center the content horizontally */
}
